workflows/paair_digest.json
{
  "name": "PAAIR Daily Digest",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "paair-digest",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "digest-trigger",
      "name": "Digest Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://host.docker.internal:3100/webhook/paair-digest",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "digest-request",
      "name": "Trigger Digest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [470, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "digest-respond",
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [690, 300]
    }
  ],
  "connections": {
    "Digest Webhook": {
      "main": [
        [
          {
            "node": "Trigger Digest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Digest": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}
